<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wearablesensorbase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.wearablesensorbase.WearableSensorBase"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wearablesensorbase.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wearablesensorbase.GrapherActivity"
            android:label="@string/title_activity_grapher"
            android:parentActivityName="com.example.wearablesensorbase.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wearablesensorbase.MainActivity" />
        </activity>
        <activity
            android:name="com.example.wearablesensorbase.ble.ConnectedDeviceActivity"
            android:label="@string/title_activity_connected_devices"
            android:parentActivityName="com.example.wearablesensorbase.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wearablesensorbase.MainActivity" />
        </activity>
        <activity
            android:name="com.example.wearablesensorbase.ble.BLEScanActivity"
            android:label="@string/title_activity_blescan"
            android:parentActivityName="com.example.wearablesensorbase.ble.ConnectedDeviceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wearablesensorbase.ble.ConnectedDevicesActivity" />
        </activity>
        <activity
            android:name="com.example.wearablesensorbase.ble.DeviceControlActivity"
            android:label="@string/title_activity_device_control"
            android:parentActivityName="com.example.wearablesensorbase.ble.ConnectedDeviceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wearablesensorbase.ble.ConnectedDeviceActivity" />
        </activity>
        <activity
            android:name="com.example.wearablesensorbase.calibration.DeviceCalibrationActivity"
            android:label="@string/title_activity_device_callibration"
            android:parentActivityName="com.example.wearablesensorbase.ble.DeviceControlActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wearablesensorbase.ble.DeviceControlActivity" />
        </activity>
        <activity
            android:name="com.example.wearablesensorbase.data.LogViewActivity"
            android:label="@string/title_activity_log_view" >
        </activity>
        <activity
            android:name="com.example.wearablesensorbase.LogListActivity"
            android:label="@string/title_activity_log_list"
            android:parentActivityName="com.example.wearablesensorbase.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wearablesensorbase.MainActivity" />
        </activity>
    </application>

</manifest>
